
body {
	margin: 0;
	padding: 0;
	
	font-family: "Cuprum", sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	color: #000000;
	
	background-color: #ffffff;
}

html, 
body {
	min-width: 1200px;
	min-height: 2250px;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header-wrapper {
	width: 100%;
	min-height: 320px;
	background-color: #f4f8f9; 
}

.user-navigation-wrapper {
	margin-bottom: 30px;
	
	width: 100%;
	
	background-color: #293449;
}

.user-navigation-wrapper{
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.logo  a {
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 55px;

	width: 165px;

	font-family: "Cuprum", sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
	box-shadow: 0px 5px #b52933;
}

.logo a:hover,
.logo a:focus {
	background-color: #ca2c37;
}

.logo a:active {
	background-color: #ba2732
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	
	width: 	940px;
}

.user-navigation-wrapper .container {
	display: flex;
	justify-content: flex-start;
}

.user-navigation-wrapper {
	margin-bottom: 46px;
}

.search .search-line {	
	width: 270px;
}

.search  input[type="text"] {
	padding-left: 48px;
	
	font-family: "Cuprum", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	
	width: 222px;
	height: 42px;

	border: none;
	outline: none;
	background-color: #293449;
}

.search  input[type="text"]:focus {
	color: #000000;
	background-color: #ffffff;
	background: url('../img/icon-search.svg') no-repeat 18px 12px;
	
}

.search  input[type="text"]:focus {
	color: #000000;
	background-color: #ffffff;
}

.search  {
	position: relative;
}

.icon-search {
	margin: 0;
	padding: 0;
	width: 48px;
	position: absolute;
	top: 12px;
	left: 19px;
	width: 18px;
	height: 18px;
	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.icon-search:hover,
.icon-search:focus {
	opacity: 1;
}

.icon-search:active {
	opacity: 0.5;
}

.bookmark a, 
.basket a, 
.place-order a {
	display: block;
	padding-top: 10px;
	padding-bottom: 11px; 
	
	color: #ffffff;
	
	cursor: pointer;
}

.bookmark {
	margin-right: 0;
	margin-left: 0;
	width: 150px;
}

.bookmark .navigation-bookmark  {
	position: relative;
	padding-left: 43px;
}

.navigation-bookmark::before {
	content: "";
	
	position: absolute;
	top: 12px;
	left: 16px;
	
	width: 16px;
	height: 18px;
	
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.navigation-bookmark:hover::before,
.navigation-bookmark:focus::before {
	opacity: 1;
}

.navigation-bookmark:active::before{
	opacity: 0.5;
}

.basket {
	width: 150px;
}

.basket .navigation-basket  {
	position: relative;
	padding-left: 45px;
}
	
.navigation-basket::before {
	content: "";
	
	position: absolute;
	top: 12px;
	left: 17px;
	
	width: 16px;
	height: 18px;
	
	background-image: url("../img/icon-basket.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.navigation-basket:hover::before,
.navigation-basket:focus::before {
	opacity: 1;
}

.navigation-basket:active::before{
	opacity: 0.5;
}	
	
.bookmark:active,
.basket:active {
	background-color: #161d29;
}

.place-order {
	padding-left: 20px;
	padding-right: 20px;

	background-color: #63a63e;
}

.place-order:hover,
.place-order:focus {
	background-color: #5fbb2d;
}

.place-order:active {
	opacity: 0.51;
}

.short-information-line {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.description {
	width: 300px;
}

.description p {
	padding: 0;
	margin: 0;
	padding-left: 50px;
	padding-right: 40px;
	
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	font-style: italic;
	color: #ee3643;
}

.contacts {
	width: 300px;
}
	
.contacts-phone-number p {
	position: relative;
	margin: 0;
	padding-left: 69px;
	padding-right: 15px;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-bottom: 2px;
	
	width: 180px;
	
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;
	color: #ee3643;
	
	border: 3px solid #ffffff;
}

.icon-phone::before {
	content: "";
	position: absolute;
	
	top: 10px;
	left: 12px;
	
	width: 19px;
	height: 19px;
	
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.contacts-address p {
	padding: 0;
	margin: 0;
	padding-left: 8px;
	
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #32425c
}

.user-block {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	
	width: 300px;

	list-style: none;
}

.login-link a {
	margin-right: 10px;
	padding-left: 47px;
	padding-right: 25px;
}

.user-block .enter {
	position: relative;
}

.enter::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 14px;
	
	width: 21px;
	height: 19px;
	
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.enter:hover::before, 
.enter:focus::before {
	opacity: 1;
}

.enter:active::before {
	opacity: 0.3;
}

.registration-link  a{
	padding-left: 25px;
	padding-right: 22px;
}

.user-block a {
	display: block;
	padding-top: 11px;
	padding-bottom: 9px;
	
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;
	vertical-align: middle;
	color: #000000;
	background-color: #ffffff;
}	

.user-block a:hover,
.user-block a:focus {
	color: #ee3643;
}

.user-block a:active {
	color: rgba(0, 0, 0, 0.3);
}

.personal-account {
	display: none;
	flex-wrap: wrap;
	
	width: 300px;
}

.user-name {
	width: 300px;
	margin-bottom: 8px;
}

.user-information {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.user-name a {
	display: block;
	padding-top: 11px;
	padding-bottom: 9px;
	padding-left: 46px;
	padding-right: 66px;
	
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;
	vertical-align: middle;
	color: #000000;
	background-color: #ffffff;
}

.user-name a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-name .icon-user {
	position: relative;
}

.icon-user::before {
	content: "";
	position: absolute;
	
	top: 13px;
	left: 13px;
	
	width: 20px;
	height: 28px;
	
	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.icon-user:hover::before,
.icon-user:focus::before  {
	opacity: 1;
}

.icon-user:active::before  {
	opacity: 0.3;
}

.user-name .icon-user {
	position: relative;
}

.icon-user::after {
	content: "";
	position: absolute;
	
	top: 14px;
	right: 11px;
	
	width: 21px;
	height: 17px;
	
	background-image: url("../img/icon-logout.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.icon-user:hover::after,
.icon-user:focus::after  {
	opacity: 1;
}

.icon-user:active::after {
	opacity: 0.3;
}

.user-information li {
	position: relative;
}

.user-information li:first-child {
	margin-left: 18px;
	margin-right: 28px;
}

.user-information li:first-child::after {
	content: "";
	
	position: absolute;
	top: 10px;
	right: -16px;
	
	width: 4px;
	height: 4px;
	border-radius: 1.5px;
	
	background-color: #32425c;
}
	
.user-information a {
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #32425c;
	text-decoration: underline;
}

.user-information a:hover,
.user-information a:focus {
	color: #ee3643;
	cursor: pointer;
}

.user-information a:active {
	color: #32425c;
	opacity: 0.3;
}

.main-navigation {
	margin-bottom: 60px;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	color: #000000;
	background-color: #31415a;
	box-shadow: inset 0px -5px 0px 0px #293449;

}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	
	min-height: 60px;
	
	list-style: none;
}

.site-navigation a {
	display: block;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 23px;
	color: #ffffff;
}

.site-navigation .main-item {
	padding-left: 51px;
}

.site-navigation .contacts-item {
	padding-right: 54px;
}

.site-navigation li:hover,
.site-navigation li:focus  {
	background-color: #293449;
}

.site-navigation li:active {
	background-color: #1d2739;
}

.site-navigation a:active {
	color: rgba(255, 255, 255, 0.5);
}

.main-block .promo-block {
	margin-top: 59px;
}

.promo-block-catalog {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	
	list-style: none;
}

.promo-block-item {
	padding-left: 24px;

	width: 277px;
}

.promo-block-text {
	padding: 0;
	margin: 0;
	margin-bottom: 12px;
	padding-top: 21px;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
}

.promo-block-materials {
	position: relative;
	background-color: #ffbf47;
}

.promo-block-materials .flag {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.promo-block-materials .flag-new {
	background: url(../img/new-flag.png) no-repeat 0 0;
}

.promo-block-tool {
	background-color: #3bbce3;
}

.promo-block-technics {
	background-color: #dc91d8;
}

.promo-block-item a {
	display: block;
	padding-top: 11px;
	padding-bottom: 11px;
	margin-bottom: 20px;

	width: 135px;
	
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}
	
.promo-block-item a:hover,
.promo-block-item a:focus {
	background-color: rgba(0, 0, 0, 0.2);	
}

.promo-block-item a:active {
	background-color: rgba(0, 0, 0, 0.3);	
}	

.promo-block-discounts {
	background-color: #8ed78f;	
}

.promo-block-delivery {
	background-color: #ffc047;
}	

.promo-block-other {
	display: flex;
	justify-content: space-between;
	margin-bottom: 53px;
}

.slider {
	position: relative;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 38px;
	z-index: 100;
	
	width: 50px;
	height: 10px;
	
	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls i {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	padding: 5px;
	
	border-radius: 50%;
	cursor: pointer;

}

.slider-controls i::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 1;
	
	width: 10px;
	height: 10px;
		
	background-color: #ffffff;

	border-radius: 50%;
}

.slider-controls .active::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 6px;
	z-index: 2;
	
	width: 6px;
	height: 6px;
		
	background-color: #ee3643;

	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.slider-item {
	display: none;
	width: 620px;
	height: 266px;
}

.slider-item:nth-child(1) {
	display: block;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slider-1.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slider-2.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-item h3 {
	padding: 0;
	margin: 0;
	padding-top: 22px;
	margin-left: 24px;
	margin-bottom: 2px;

	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}

.slider p {
	padding: 0;
	margin: 0;

	margin-left: 24px;
	margin-bottom: 123px;
	
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;	
}

.slider-list:nth-child(2) {
	font-family: "Cuprum", sans-serif;
}

.slider-item-button {
	display: block;
	padding:0;
	margin: 0;
	padding-top: 11px;
	padding-bottom: 9px;
	margin-left: 25px;
	
	width: 195px;
		
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	
	background-color: #ee3643;
	border-radius: 3px;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.promo-block-information {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;	
	
	width: 300px;
	height: 266px;
	
	list-style: none;
}

.promo-block-discounts {
	margin-bottom: 20px;
}

.promo-block-materials .icon-catalog {
	position: relative;
}

.icon-catalog::after {
	content: "";
	position: absolute;
	
	top: 30px;
	left: 189px;
	
	width: 44px;
	height: 65px;
	
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.promo-block-tool .icon-tool{
	position: relative;
}

.icon-tool::after {
	content: "";
	position: absolute;
	
	top: 32px;
	left: 173px;
	
	width: 75px;
	height: 61px;
	
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.promo-block-technics .icon-technics {
	position: relative;
}

.icon-technics::after {
	content: "";
	position: absolute;
	
	top: 32px;
	left: 170px;
	
	width: 78px;
	height: 62px;
	
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.promo-block-discounts .icon-discounts {
	position: relative;
}

.icon-discounts::after {
	content: "";
	position: absolute;
	
	top: 28px;
	left: 173px;
	
	width: 59px;
	height: 72px;
	
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.promo-block-delivery .icon-delivery {
	position: relative;
}

.icon-delivery::after {
	content: "";
	position: absolute;
	
	top: 32px;
	left: 168px;
	
	width: 78px;
	height: 63px;
	
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.popular-products-line, 
.popular-brands-line {
	display: flex;
	justify-content: space-between;
	background-color: #f9f5f0;
	margin-bottom: 20px;
}

.popular-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;	
	background-color: #f9f5f0;
	
}

.popular-products-line .popular-title {
	width: 320px;
	margin-left: 29px;
	margin-top: 30px;
	margin-bottom: 30px;
}
	
.red-button {
	display: inline-block;
	padding:0;
	margin: 0;
	padding-top: 11px;
	padding-bottom: 9px;
	margin-top: 25px;
	margin-bottom: 26px;
	
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;	
	
	border-radius: 3px; 
	background-color: #ee3643;
}

.red-button:hover,
.red-button:focus {
	background-color: #ca2c37;

}

.red-button:active {
	background-color: #ba2732;
}

.popular-products-line .red-button,
.popular-brands-line .red-button {
	width: 253px;
	margin-right: 25px;
}

.popular-products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", sans-serif;
}

.popular-products-item {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 218px;
	border: 1px solid #eaeaea;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	background-color: #ffffff;
}

.popular-products-item:last-child {
	margin-right: 0;
}

.popular-products-item .flag {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.popular-products-item .flag-new {
	background: url(../img/new-flag.png) no-repeat 0 0;
}

.popular-products-item .actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10;
}

.popular-products-item .actions .buy-btn,
.popular-products-item .actions .bookmark-btn {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	background-color: #63a63e;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.popular-products-item .actions .bookmark-btn {
	color: #32425c;
	background: #ffffff;
	border-bottom-color: #63a63e;
}

.popular-products-item .actions {
	display: none;
}

.popular-products-item:hover .actions {
	display: block;
}

.popular-products-item .actions .buy-btn:hover,
.popular-products-item .actions .buy-btn:focus  {
	background-color: #5fbb2d;
}

.popular-products-item .actions .buy-btn:active {
	background-color: #518534;
	border: 3px solid #518534;
}

.popular-products-item .actions .bookmark-btn:hover,
.popular-products-item .actions .bookmark-btn:focus  {
	border: 3px solid #32425c;
}
	
.popular-products-item .actions .bookmark-btn:active { 
	color: rgba(50, 66, 92, 0.3);
	border: 3px solid #e5e5e5;
}
	
.popular-products-item .actions .buy-btn {
	position: relative;
}

.buy-btn::before {
	content:"";
	position: absolute;
	top: 9px;
	left: 11px;
		
	width: 15px;
	height: 15px;
	
	background-image: url("../img/icon-basket.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}	

.buy-btn:hover::before, 
.buy-btn:focus::before,
.buy-btn:active::before  {
	opacity: 1;
}

.popular-products-item .popular-products-image {
	width: 218px;
	height: 160px;
}

.popular-products-item .popular-products-image  img{
	max-width: 100%;
}


.popular-products-item .popular-products-title {
	min-height: 40px;
	padding: 0 25px;
	margin-top: 20px;
	margin-bottom: 8px;
	
	font-size: 18px;
	line-height: 20px;	
	font-weight: 700;
	color: #000000;

}

.popular-products-item .price-base {
	min-height: 20px;
	margin-top: 8px;
	margin-bottom: 10px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	color: #a9a9a9;
	text-decoration: line-through;
	
}
	
.popular-products-item .price-discount {	
	position: relative;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: #ffffff;
	background: #ee3643;
	border-radius: 3px;
}

.popular-products-item .price-discount:after {
	content:"";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 20px solid #ffffff;
	border-left-color: #ee3643;
}

.popular-products-item:hover,
.popular-products-item:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-brands-line .popular-title {
	width: 450px;
	margin-left: 27px;
	margin-top: 26px;
	margin-bottom: 26px;

}

.popular-brands-list {
	display: flex;
	justify-content: space-between; 
	flex-wrap: wrap;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.popular-brands-item {
	margin-bottom: 20px;
	width: 218px;
	height: 146px;
	
}

.popular-brands-item:hover,
.popular-brands-item:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active {
	opacity: 0.5;
}

.popular-brands {
	margin-bottom: 65px;
}

.service-wrapper {
	margin-bottom: 18px;
	width: 100%;
	background-color: #f4f8f9;
	
}

.identical-title {
	margin: 0;
	padding: 0;

	padding-top: 60px;
	padding-bottom: 26px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;	
	color: #000000;
}

.service-wrapper .service-info {
	padding: 0;
	margin: 0;
	padding-bottom: 68px;
}
	
.service-info, 
.service-description,
.company-description,
.company-description {
	padding: 0;
	margin: 0;
	padding-left: 20px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;	
	color: #000000;
}

.service-description {
	position: relative;
	z-index: 1;
	width: 275px;
}

.service-list {
	margin: 0;
	padding: 0;
	margin-right: 60px;
	margin-bottom: 102px; 
	width: 240px;
	list-style:none;
}

.service-list .vertical-line {
	position: relative;
}

.vertical-line::after {
	content: "";
	position: absolute;
	top: -45px;
	left: 230px;
	
	width: 10px;
	height: 279px;
	
	background-image: url("../img/vertical-line.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}	

.service-button {
	padding:0;
	margin: 0;
	padding-left: 21px;
	padding-top: 16px;
	padding-bottom: 16px;
	width: 240px;
	font-family: "Cuprum", sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	text-align: left;
	color: #ffffff;	
	background-color: #32425c;
	border: none;
}

.service-button-current {
	color: #32425c;	
	background-color: #ffffff;
}

.service-list-items {
	display: flex;
}

.service-title {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	padding-bottom: 24px;
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;	
}


.delivery .delivery-image {
	position: relative;
}

.delivery-image::after {
	content: "";
	position: absolute;
	top: 25px;
	right: -346px;
	
	width: 467px;
	height: 261px;
	
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	
}

.service-list-items .guarantee {
	display: none;
}

.service-list-items .credit {
	display: none;
}


.additional-information {
	display: flex;
	justify-content: space-between;
	margin-bottom: 59px;
}

.about-company  {
	width: 540px;
}
	
.map-contacts {
	width: 300px;
}

.about-company p {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.transport-company {
	padding: 0;
	margin: 0;
	padding-left: 30px;
	padding-top: 5px;
	list-style: none;
}

.transport-company-item p {
	padding: 0;
	margin: 0;	
	margin-bottom: 17px;
	
	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;
}

.about-company a {
	padding-left: 5px;
	width: 215px;
}

.map-contacts p {
	padding: 0;
	margin: 0;
	margin-bottom: 33px;
}
	
.map-contacts .red-button {
	width: 100%;
	border: none;
}	

.map-contacts .red-button {
	padding-left: 2px;
	margin-top: 30px;
}

.main-footer-wrapper {
	width: 100%;
	background-color: #32425c; 
}

.footer-navigation-1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 34px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #f3f7f9;
	background-color: #32425c; 
}

.logo-footer {
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 17px;
	padding-bottom: 12px;
	padding-left: 43px;

	width: 177px;

	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
	box-shadow: 0px 5px #b52933;
}


.navigation-1-list, 
.navigation-2-list {
	margin: 0;
	padding: 0;
	list-style: none;

}

.navigation-1-list {
	display: flex;
	justify-content: space-between;
	width: 560px;
}


.navigation-1-list a {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #f1f5f7;	

}

.navigation-1-list li {
	margin-top: 38px;
}

.navigation-1-list a:hover,
.navigation-1-list a:focus {
	text-decoration: underline;
	cursor: pointer;
}

.navigation-1-list a:active {
	text-decoration: none;
	color: #ffd180;
	opacity: 0.5;
}

.footer-navigation-2 {
	display: flex;
	justify-content: space-between;

}
	
.footer-navigation-2 p {
	padding: 0;
	margin: 0;
	padding-left: 2px;
	width: 330px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #f1f5f7;
}

.navigation-2-list {
	display: flex;
	justify-content: space-between;
	width: 540px;
}

.navigation-2-list a {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffd180;
}

.navigation-2-list a:hover,
.navigation-2-list a:focus {
	text-decoration: underline;
}	
	
.navigation-2-list a:active {
	text-decoration: none;
	color: rgba(255, 209, 128, 0.5);
}	

.main-footer-wrapper .container {
	margin-top: 48px;
	margin-bottom: 34px;
}

.footer-additional-wrapper {
	width: 100%;
	background-color: #293449;
}

.footer-additional-info {
	display: flex;
	padding-top: 22px;
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.footer-copyright p {

	padding: 0;
	margin: 0;
	padding-bottom: 34px;

	width: 232px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}
	

.footer-social {
	margin-right: 95px;
	margin-left: 170px;
	text-align: center;
	width: 130px;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 130px;
	padding: 0;
	list-style: none;
}


.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	color: #ffffff;
}

.footer-social .icon-vk {
	background: url("../img/icon-vk.svg") no-repeat 50% 50%;
	background-color: #212a3a;
	border-radius: 50%;
}

.footer-social .icon-fb {
	background: url("../img/icon-fb.svg") no-repeat 50% 50%;
	background-color: #212a3a;
	border-radius: 50%;
}

.footer-social .icon-ins {
	background: url("../img/icon-ins.svg") no-repeat 50% 50%;
	background-color: #212a3a;
	border-radius: 50%;
}

.footer-social .icon-fb:hover,
.footer-social .icon-fb:focus,
.footer-social .icon-fb:active {
	background-color: #ee3643;
}

.footer-social .icon-ins:hover,
.footer-social .icon-ins:focus,
.footer-social .icon-ins:active {
	background-color: #ee3643;
}

.footer-social .icon-vk:hover,
.footer-social .icon-vk:focus,
.footer-social .icon-vk:active {
	background-color: #ee3643;
}

.footer-feedback {
	width: 140px;
	padding-right: 0;
	padding-left: 20px;
}

.footer-feedback a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus {
	text-decoration: underline;
}

.footer-feedback a:active {
	text-decoration: none;
	color: #ee3643;
}

.footer-developer {
	margin-right: 0;
	padding-right: 0;
	padding-left: 45px;
	
	width: 115px;
	
}

.footer-developer a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	color: #ffd180;
}

.footer-developer a:hover,
.footer-developer a:focus {
	text-decoration: underline;
}

.footer-developer a:active {
	text-decoration: none;
	color: #ee3643;
}	

.modal {
	color: #000000;
	background-color: #ffffff;
}

.write-us  input[type="text"],
.write-us  input[type="email"]  {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	
	background-color: #ffffff;
	border: 2px solid #dee3e4;
}

.write-us  input:focus {
	border-color: #ee3643;
}

.inner-page {
	font-family: "PT Sans", sans-serif;
}

.user-block-index {
	display: none;
}

.personal-acount-catalog {
	display: flex;
}

.basket-full {
	background-color: #ee3643;
	
}

.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	
	list-style: none;
}
	
.breadcrumbs li {
	position: relative;
	margin-top: 18px;
	margin-right: 38px;
}

.breadcrumbs li:first-child {
	margin-left: 18px;
}

.breadcrumbs li:first-child::before {
	content: "";
	
	position: absolute;
	top: 6px;
	left: -22px;
	
	width: 15px;
	height: 12px;
	
	background-color: #ffffff;
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	position: 0 0;
}

.breadcrumbs li::after {
	content: "";
	
	position: absolute;
	top: 6px;
	right: -22px;
	width: 8px;
	height: 12px;
	
	background-color: #ffffff;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	position: 0 0;
}

.breadcrumbs li:last-child {
	margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}
	
.breadcrumbs a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;	
	text-transform: uppercase;
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs a:active {
	text-decoration: none;
	opacity: 0.3;
}

.breadcrumbs-current {
	opacity: 0.3;
}

.page-title {
	padding: 0;
	margin: 0;
	padding-left: 27px;
	padding-top: 28px;
	padding-bottom: 28px;
	margin-bottom: 23px;
	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;	
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;
}

.main-content {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 60px;
}

.filters {

	width: 220px;
	margin-right: 20px;

}


.catalog {
	width: 700px;
}

.filters-title, 
.sorting-title {
	
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 18px;	
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
	background-color: #f7f3ec;
}

.filters-title {
	width: 202px;
	padding-left: 18px;
	padding-top: 8px;
	padding-bottom: 10px;
	border-radius: 3px;
	margin-bottom: 11px;
}

.filter-range {
	width: 220px;
	margin: 0;
	
	color: #000000;
	text-transform: uppercase;
	
}

.filter-range-title {
	font-size: 17px;
	line-height: 30px;	
	font-weight: 700;
	margin-bottom: 15px;
}

.range-controls {
	position: relative;
	width: 180px;
	margin-bottom: 9px;
	padding-top: 39px;
	padding-bottom: 39px;
	padding-left: 20px;
	padding-right: 20px;
	
	background-color: #f7f3ec;
	border-radius: 3px;

}

.range-controls .scale {

	margin: 0 auto;
	
	width: 180px;
	height: 2px;
	
	background-color: #f7f3ec;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	
	background-color: #3fb77a;
}

.range-toggle {
	position: absolute;
	
	top: 30px;
	left: 19px;
	
	width: 4px;
	height: 4px;
	
	background: #c1c1c1;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.range-toggle-min {
	left: 19px;
}

.range-toggle-max {
	left: 80%;
}

.price-controls {
	position: relative;
	height: 38px;
	margin-bottom: 42px;

	font-size: 0;	
}

.price-controls label {
	display: inline-block;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	vertical-align: top;

	cursor: pointer;
}	

.price-controls .min-price
.price-controls .max-price {
	width: 95px;

}

.price-controls input {
  width: 95px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 11px;

  color: inherit;
  font: inherit;
  text-align: center;
  

  background: none;
  border: none;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.price-controls .min-price {
	margin-right: 25px;
}

.price-controls span {
	position: absolute;
	top: 10px;
	left: 104px;
	font-size: 16px;
	line-height: 18px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	
	border: none;
}

.filter fieldset:first-child {
	margin-bottom: 40px;
}

.filter legend {

	margin-bottom: 14px;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.filter ul {
	margin: 0;
	padding: 0;
	margin-bottom: 46px;
	list-style: none;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
}

.filter-option {
	margin-bottom: 18px;
	padding-left: 34px;
}

.filter-option label {
	position: relative;
	
	display: block;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	
	left: -36px; 
	top: -2px;	
  
	width: 27px;
	height: 23px;
	
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	
	left: -36px; 
	top: -2px;
	
	width: 27px;
	height: 23px;
	
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
  
}

.filter-input:disabled + label {
	color: #000000;

	opacity: 0.3;
}

.filter-input-radio + label::before {
	content: "";

	position: absolute;
	left: -39px;
	top: -3px;
	
	width: 25px;
	height: 25px;
  
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-radio:checked + label::after {
	content: "";

	position: absolute;
	left: -39px;
	top: -3px;

	width: 25px;
	height: 25px;

	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-button {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding: 11px 39px;
	margin-top: 36px;
	
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #000000;
	vertical-align: middle;
	text-transform: uppercase;
	
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
	border-color: #bdc6ca;
}

.filter-button:active {
	border-color: #ee3643;
}

.catalog-sorting {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	
	
	width: 700px;
	background-color: #f7f3ec;
	border-radius: 3px;
}

.sorting {
	display: flex;
	justify-content: flex;
	width: 620px;
	margin-right: 10px;
}

.sorting-title {
	width: 142px;
	margin-right: 20px;
	padding-left: 18px;
	padding-top: 8px;
	padding-bottom: 10px;
	border-radius: 3px;
}

.sorting-list {
	margin: 0;
	padding: 0;
	margin-top: 4px;
	padding-left: 80px;
	width: 460px;
	list-style: none;
}

.sorting-list li {
	display: inline-block;	
}

.sorting-list a {
	position: relative;
	display: block;
	font-size: 13px;
	line-height: 18px;	
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	border-bottom: 1px dotted #ee3643;
}

.sorting-list .current {
	color: #ee3643;
	margin-right: 70px;
}


.sorting-list li:nth-child(2) {
	margin-right: 60px;
}

.sorting-list li:last-child {
	margin-right: 24px;
}


.sorting-list .current {
	font-size: 13px;
	line-height: 18px;	
	font-weight: 400;
	text-transform: uppercase;
	color: #ee3643;
}

.sorting-list a:hover,
.sorting-list a:focus {
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid #ee3643;
}
	
.sorting-list a:active {
	color: #ee3643;
	border-bottom: none;
}	


.ascending-descending {
	width: 70px;
}

.ascending-present {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top:14px;
	margin-bottom: 14px;
	width: 11px;
	height: 10px;
	font-size: 0;
	text-decoration: none;
	background: #f7f3ec url("../img/icon-up-dir-active.svg") no-repeat center;
	background-position: 0 0;
}
  
.ascending:hover {
	background: #f7f3ec url("../img/icon-up-dir-red.svg") no-repeat center;
	background-position: 0 0;
}

.ascending:active {
	background: #f7f3ec url("../img/icon-up-dir-red.svg") no-repeat center;
	background-position: 0 0;
}

.descending {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top:14px;
	margin-bottom: 14px;
	width: 11px;
	height: 10px;
	font-size: 0;
	text-decoration: none;
	background: #f7f3ec url("../img/icon-down-dir.svg") no-repeat center;
	background-position: 0 0;
 }
  
.descending:hover{
	background: #f7f3ec url("../img/icon-down-dir-hover.svg") no-repeat center;
	background-position: 0 0;
}

.descending:active{
	background: #f7f3ec url("../img/icon-down-dir-active.svg") no-repeat center;
	background-position: 0 0;
}

.catalog-list {
	width: 700px;
	margin: 20px auto;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.catalog-item:nth-child(3n){
    margin-right: 0;
}

.catalog-list {
    font-size: 0;
}


.catalog-item{
    font-size: 16px;
}

.catalog-item:hover,
.catalog-item:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .flag-new{
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.catalog-item .actions .buy-btn,
.catalog-item .actions .bookmark-btn {
    display: block;
    width:	129px;
    margin:	0 auto;
    margin-bottom:	7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    background-color: #63a63e;
	color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}

.catalog-item .actions .bookmark-btn {
    color: #32425c;
    background: #ffffff;
    border-bottom-color: #63a63e;
} 

.catalog-item .actions {
    display: none;
}
.catalog-item:hover .actions {
    display: block;
}

.catalog-item .image {
    width: 218px;
    height: 165px;
}
.catalog-item .image img {
    max-width: 100%;
}

.catalog-item .catalog-title{
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;    
}

.catalog-item .price-base{
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #a9a9a9;
    text-decoration:line-through;
}

.catalog-item .price-discount{
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: #ffffff;
    background: #ee3643;
    border-radius: 3px;
}

.catalog-item .price-discount:after{
    content:"";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid #ffffff;
    border-left-color: #ee3643;
}

.catalog-item .actions .buy-btn:hover,
.catalog-item  .actions .buy-btn:focus  {
	background-color: #5fbb2d;
}

.catalog-item  .actions .buy-btn:active {
	background-color: #518534;
	border: 3px solid #518534;
}

.catalog-item  .actions .bookmark-btn:hover,
.catalog-item  .actions .bookmark-btn:focus  {
	border: 3px solid #32425c;
}
	
.catalog-item .actions .bookmark-btn:active { 
	color: rgba(50, 66, 92, 0.3);
	border: 3px solid #e5e5e5;
}

.catalog-item .actions .buy-btn {
	position: relative;
}

.buy-btn::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 11px;
		
	width: 15px;
	height: 15px;
	
	background-image: url("../img/icon-basket.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}	

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

.pagination-item {
	margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
	display: block;
	width: 38px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	line-height: 18px;	
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	border-radius: 3px;
}
	
.pagination-list .pagination-item-next {
	width: 140px;	
}
	
.pagination-item a:hover,
.pagination-item a:focus {
	border: 1px solid #bdc6ca;
}

.pagination-item a:active {
	border: 1px solid #ee3643;
}

.pagination-item-current a {
	color: #ffffff;
	border: 1px solid #d7dcde;
	background-color: #ee3643;
}


.pagination-item-current a:hover,
.pagination-item-current a:focus {
	border: 1px solid #bdc6ca;
}

.pagination-item-current a:active{
	border: 1px solid #ee3643;
}

.about-perforators-wrapper {
	margin:0;
	width: 100%;
	margin: 0 auto;
	color: #000000;
	background-color: #f1f1f1;
}	

.about-perforators h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 28px;
	padding-top: 60px;
	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;	
	font-weight: 400;
	text-transform: uppercase;
}

.about-perforators p {
	padding: 0;
	margin: 0;
	padding-bottom: 68px;
	font-size: 13px;
	line-height: 24px;	
	font-weight: 400;
}
	
.modal {
	display: none;
}	
.modal-basket p {
	font-size: 30px;
	line-height: 30px;	
	font-weight: 400;
}

.white-button {
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #000000;	
	background-color: #ffffff;
	border: none;
}

.basket-selection {
	background-color: #f1f1f1;
}

	